<tr>
  <td><a target="_blank" href="https://<%= current_shop.subdomain %>.bootic.net/admin/orders/<%=order.code%>"><%= order.code %></a></td>
  <td><%= order.status %></td>
  <td><%= order.total %></td>
</tr>
